body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.box {
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    width: 300px;
    padding-left: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 40px;
}

.title {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
    color: #695cfe;
}

.input-data, .select-input {
    position: relative;
    margin-bottom: 20px;
}

.input-data input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.input-data i {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    color: #333;
}

.select-input select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.select-input i {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    color: #333;
}

.box-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cancel-btn, .submit-btn {
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    color: #fff;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}

.cancel-btn {
    background-color: #ddd;
    color: #333;
}

.submit-btn {
    background-color: #695cfe;
}
